<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-push-notification"
  version="2.3.17">

  <name>lpMessagingSDK</name>

  <engines>
    <engine name="cordova" version=">=3.4.0" />
  </engines>

  <asset src="www/LPMessagingSDK.js" target="js/LPMessagingSDK.js" />
  <asset src="www/LPMessagingSDK.js.map" target="js/LPMessagingSDK.js.map" />

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="LPMessagingSDK">
        <param name="ios-package" value="LPMessagingSDKPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/PNCordovaCallback.swift" />
    <source-file src="src/ios/PNSDKPlugin.swift" />
    <source-file src="src/ios/PNSDKCordovaSample-Bridging-Header.h" />
  </platform>

</plugin>
